/** Charte graphique */
/* #F2BB13 */ 
/* #F28C0F */
/* #D9A577 */
/* #A61B0F */

@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');

body {
    background-color: #FAFAFA;
    font-family: 'Miriam Libre';
  }
  
/* MENU */
.title {
  background: linear-gradient(to right, #A61B0F, #F2BB13);
}

body > header > div > a {
  color: black;
}
  
.menu {
 border-bottom: 1px solid #CCC;
 color: #A6A6A6;
 
}

.menu .search-form input {
  border: none;
  outline: none;
}

.menu .search-form input:focus {
  box-shadow: 0 0 0 0.2rem rgba(166, 27, 15, .25);
}

.menu .search-results {
  position: absolute;
  display: none;
  width: 223px;
  top: 117px;
}

.search-results li:hover {
  cursor: pointer;
  background-color: #efefef;
}

.btn {
  border: none;
  color: #A6A6A6;
}

.btn:hover {
  color: #A61B0F;
  box-shadow: 0 0 0 0.2rem rgba(166, 27, 15, .25);
}

.btn:focus {
  color: #A61B0F;
  box-shadow: 0 0 0 0.2rem rgba(166, 27, 15, .25);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #A61B0F;
  font-weight: bold;
}

#navbarToggler > ul.navbar-nav.justify-content-between > li > a {
  color: #A6A6A6;
}

#navbarToggler > ul.navbar-nav.justify-content-between > li > a:hover {
  color: #A61B0F;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

/* CONTENU */
.jumbotron {
  background-color: #F2F2F2;
  border-radius : 10px;
}

.box {
  background-color: #eaeaea;
  padding: 2em;
  margin-bottom: 1em;
}

.box img {
  border: 1px solid #CCC;
}

area h3 {
  font-size: 1.5em;
}

area ul {
  margin: 2em 0 1em 2em;
  font-size: .8em;
  list-style-type: initial;
}

area p {
  font-size: .9em;
}

/* FOOTER */
footer {
  border-top: 1px solid #e3e3e3;
  padding: .4em;
  font-size: .8em;
  text-align: center;
  height: 2em;
  background: linear-gradient(to right, #A61B0F, #F2BB13 );
}